/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {    
    font-family: 'Titan One', sans-serif;
}

body h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.45rem;
    text-transform: uppercase;  
}

body h4 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}

a {
    text-transform: uppercase;
}

p, a {
    font-size: 16px;
}

p {
    letter-spacing: 0.045rem;
    line-height: 1.35rem;
}

.bg-orange {
    background-color: #FE953D;
}

.bg-pink {
    background-color: #EEC1DC;
}

.bg-yellow {
    background-color: #FEC001;
}

button {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.expandButton span {
    transition: all 3s;
  }
  
.expandButton.active span{
    transform: rotate(45deg);
  }
  

@layer base {
  
  }

  @layer components {

    .text-light {
       @apply text-[#f5f0ea];
    }
    .bg-light {
        @apply bg-[#f5f0ea];
    }
  
    .text-darkblue {
       @apply text-[#192841];
    }
  
    .border-darkblue {
       @apply border border-[#192841];
    }
  
    .bg-darkblue {
      @apply bg-[#192841];
    }
  }



